langchain
langchain-openai
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
ipykernel
python-dotenv
transformers
torch
streamlit
sentence-transformers
bs4
pypdf
faiss-cpu
arxiv 
wikipedia
duckduckgo-search

